header.header
  .container.header__container
    .logo-name
      .logo-name__container
        .logo-name__avatar
          .user__avatar
            img(src="../../../images/content/photo__my.jpg")
        .logo-name__title
          .logo-name__title__text Ивашов Иван
          .output__text.output__text--mobile
            button(href="#auto" @click="logoutUser").output__link Выйти
    .name-panel
      .name-panel__container
        .name-panel__text Панель администрирования
    .output.output--decstope
      .output__container
        .output__text 
          button(href="#auto" @click="logoutUser").output__link Выйти