script(type='text/x-template')#review-contener
 .container
    .reviews__title__container.row
      h2.section-title.reviews__contact__title--text.lg-4 #{reviews_title}                
      .button__container
        button(@click.prevent="handleSlide('prev')").qw.slider-buttons__item.reviews-buttons__item.reviews-buttons__item--review--prev
          +icon('arrow-down', 'strekli_left__svg')
        button(@click.prevent="handleSlide('next')").qw.slider-buttons__item.reviews-buttons__item.reviews-buttons__item--review--next.active
          +icon('arrow-down', 'strekli_right__svg')
    .reviews-sliders.lg-8           
      .review-contener
        carousel(@page-change="" :paginationSize="1" :navigationEnabled="true"  :per-page="2")
          slide(v-for="review in reviews" @slideclick="handleSlideClick"  data-index="0")
            reviewsrow(
              :review="review"   
             
            )
      


script(type='text/x-template')#reviews-row
 
                      .reviews-slider
                        .reviews-slider__icon-contener
                          span.reviews-slider__icon
                            +icon('quote','reviews-slider__icon__svg')
                        .reviews-slider__text-contener
                          .reviews-slider__text
                            .reviews-slider__people {{review.review_text}}
                            .people-info__contener
                              .avatar.user__avatar
                                img(:src="review.avatar" class="avatar__pic")
                                //+image(`content/${review.avatar}`, "avatar__pic")
                              .user__container
                                .user__name  {{review.user__name}}
                                .user_work {{review.user_work}}